* {
    margin: 0;
    padding: 0;
}

/*
    Deklarasi font
*/
@font-face {
    font-family: 'Poppins-semibold';
    src: url('font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-medium';
    src: url('font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6{
    color: white;
}
.nama-h1{
    color: #7456FF;
    padding-left: 10px;
}

.h1, .nama-h1{
    font-family: 'Poppins-semibold';
    font-size: 36px;
}
.h2{
    font-family: 'Poppins-semibold';
    font-size: 32px;
}
.h3{
    font-family: 'Poppins-semibold';
    font-size: 28px;
}
.h4{
    font-family: 'Poppins-semibold';
    font-size: 24px;
}
.h5{
    font-family: 'Poppins-semibold';
    font-size: 20px;
}
.h6{
    font-family: 'Poppins-semibold';
    font-size: 16px;
}
p{
    font-family: 'Poppins-regular';
    font-size: 16px;
    color: #999999;
    word-break: normal;
    overflow-wrap: break-word;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    background-color: #0c0c0c;
    overflow-x: hidden;
    overflow-y: hidden;
}

header{
    padding: 1%;
    margin: 0 4%;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0%;
}
.logo{
    padding: 5%;
    border-radius: 5px;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li a {
    text-decoration: none;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 22px;
    transition-duration: 0.5s;
}

header ul li a:hover {
    border: 1px solid #7456FF;
    color: #7456FF;
    border-radius: 3px;
    text-shadow: 0 0 10px rgba(232, 221, 221, 0.8);
}

main{
    margin: 0 4%;
    padding: 0 1%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}
.main-contet-kiri{
    flex: 1;
}
.main-content-kanan{
    flex: 1;
    justify-content: center;
    justify-items: center;
    display: grid;
}
.main-content-kanan div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-kanan div h6{
    width: 200px;
    margin: 0;
    line-height: 1;
}
.main-content-kanan div a{
    padding-left: 10%;
}
.ucapan{
    padding-bottom: 50px;
}
.ucapan-nama{
    display: flex;
}
.btn-grid{
    display: flex;
    padding-top: 35px;
    gap: 20px;
}

.button {
    background-color: #0c0c0c;
    border: 2px solid white;
    width: 140px; 
    height: 45px;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
}
.button:hover{
    box-shadow: 0 0 20px 3px #898585;
    background-color: #7456FF;
    border: 2px solid #7456FF;
}

.button h6 {
    margin: 0;
}
.garis-pembatas{
    width: 70px;
    height: 2px;
    background-color: #999999;
}
.perkenalan{
    padding-top: 20px;
}
.foto{
    width: 75%;
    height: auto;
}
.content, .project{
    padding: 1%;
    margin: 0 4%;
}


footer{
    background-color: #0F0F0F;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 1%;
    padding-bottom: 80px;
}
footer nav{
    display: flex;
    margin: 0 4%;
}
.informasi{
    flex: 1;
}
.social-media{
    display: flex;
    align-items: center;
    padding-top: 25px;
}
.social-media img{
    width: 42px;
    height: 42px;
    padding-right: 20px;
}
.hiasan{
    justify-content: center;
}

#oneko {
    position: fixed;
    image-rendering: pixelated;
    pointer-events: none; 
}